header{
    background-color: blu;
}
.img{

}

.logo{
    width: 100px;
}
h2{
    color: gray;
}
h3{
    color: gray;
}
hr{
    border: white;
}
thead{
    color: white;
}
h4{
    color: grey;
}
header{
    height: 100px;
    background-image: url(..img2/pattern.png);
    background-size: cover;
    background: no-repeat;

    

    
}